.Academic
  background-color: #bdf1d4
  margin-top: 1rem
  padding 1rem

.Academic-title
  margin-bottom: 1rem

.Academic > ul
  list-style: none
  display: flex
  flex-direction: column

.Academic-item
  padding: 1rem 0
  border-bottom: 1px solid black

.Academic-item:last-child
  border-bottom: unset

.Academic-item-header
  display: flex
  flex-direction: column
  gap: .3rem
  margin-bottom: 1rem
  @media screen and (min-width: 600px)
    justify-content: space-between
    flex-direction: row


.Academic-item-header-title
  font-weight: 600
