*
  margin 0
  padding 0
  box-sizing border-box

body
  background-color rgb(241, 241, 215)
  padding: 1rem 0 
  font-family: Arial, Helvetica, sans-serif
  max-width: 1200px
  margin: auto
  @media screen and (min-width: 600px)
    padding 1rem

a
  color: black

.more-info
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 1rem