.Languages
  background-color: #bdf1d4
  padding 1rem

.Languages-title
  margin-bottom: 1rem

.Languages > ul
  list-style: none
  display: grid
  gap: 1rem
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) )

.Languages.item
  display: block